
/* 高度100% 字型 花樣歸零 */

body{
    margin: 0;
    font-family: sans-serif;
    
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
}

/* 首頁往右移135px */

div.cat_index{
    margin-left: 135px;
}



/* 左欄寬 */

div aside.sidenav{
    /* border:1px solid black; */
    position: fixed;
    left: 0;
    width: 135px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    z-index: 10;
}

/* 左欄LOGO */

div aside.sidenav a.left_cat_log img{
    width: 84px;

}

/* 左欄menu */




div aside.sidenav a.left_menu_log{
    display: flex;
    flex-direction: column;
    align-items: center;
}


div aside.sidenav a.left_menu_log div.left_menu_icon{
    height: 23px;
    width: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div aside.sidenav a.left_menu_log div.left_menu_icon span{
    background-color: #FAA19D;
    height: 3px;
    width: 100%;
}

div aside.sidenav a.left_menu_log div.left_menu_icon span:nth-child(3){
    width: 18px;
}

div aside.sidenav a.left_menu_log p.menu_text{
    margin: 6px 0 0 0;
    font-weight: bold;
    color: #FAA19D;
    
}


/* 左欄下排 */

div aside.sidenav ul.social_icon{
    list-style: none;
    display: flex;
    padding: 0;
    
}

div aside.sidenav ul.social_icon li{
    padding: 3px;


}

div aside.sidenav ul.social_icon li a img{
    width: 30px;

}