



/* 貓咪輪播圖 */

div.cat_index main div.index_runcat{
    /* border: 1px solid blue; */
    height: 100vh;
    width: 100wh;                
    background-image: url("../images/background/首頁輪播貓.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left top;
    position: relative;

}

/* 首頁大標題 */

div.cat_index main div.index_runcat div.index_runcat_text{
    top: 16%;
    left: 140px;
    position: absolute;
    z-index: 2;
  

}

div.cat_index main div.index_runcat div.index_runcat_text::before{
    height: 330px;
    width: 348px;
    left: -20px;
    top: -20px;
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: -1;

}

div.cat_index main div.index_runcat div.index_runcat_text img{
    width: 308px;
    z-index: 6;
    
}





/* 首頁最新商品消息輪播區 */



div.cat_index main div.index_runcat div.index_runcat_news{
    /* border: 1px solid red; */
    height: 70px;
    width: 243px;
    bottom: 0;
    position: absolute;

    background-image: url("../images/background/首頁news背景.jpg");
    text-align: center;

}

/* 左邊文字區 */

div.cat_index main div.index_runcat div.index_runcat_news span{
    margin-top:17px ;
    font-weight:bold ;
    color: red;
    font-size: 20px;
    display: inline-block;
    letter-spacing: 1px;
}

div.cat_index main div.index_runcat div.index_runcat_news p{
    margin:0;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 25px;
}

/* 右邊文字區 */

div.cat_index main div.index_runcat div.index_runcat_news_right{
    /* border: 1px solid gray; */
    height: 70px;
    width: 497px;
    bottom: 0;
    left: 243px;
    position: absolute;
    background-color: white;
    

}

div.cat_index main div.index_runcat div.index_runcat_news_right p{
    font-size: 18px;
    font-weight: normal;
    margin: 25px 10px 25px 80px;
    color: black;
}

div.cat_index main div.index_runcat div.index_runcat_news_right p:hover{
    color: green;
    font-weight: bold;
}



/* 商品圖 */

div.cat_index main div.index_runcat div.index_runcat_news_item{
    /* border:1px solid gray; */
    height: 120px;
    width: 120px;
    bottom: -25px;
    left:183px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;

    
}


div.cat_index main div.index_runcat div.index_runcat_news_item img{
    width: 100%;
}

div.cat_index main div.index_runcat div.index_runcat_news_item:hover{
    animation: cat_opca;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
