
/* 高度100% 字型 花樣歸零 */

body{
    margin: 0;
    font-family: sans-serif;
    
}

*{
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}




/* 首頁往右移135px */

div.cat_index{
    margin-left: 135px;
}



/* 左欄寬 */

div aside.sidenav{
    /* border:1px solid black; */
    position: fixed;
    left: 0;
    width: 135px;
    height: 100%;
    /* background-color: rgba(250, 250, 250, 1); */
    background: linear-gradient(to right ,white 97%,rgb(241, 241, 241) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    z-index: 10;
}

@media (max-width: 900px){
    div.cat_index{
        margin-left: 0px;
    }
    div aside.sidenav{
        position: sticky;
        width: 100%;
        height: 85px;
        top: 0;
        display: flex;
        flex-direction: row;
        background: linear-gradient(to bottom ,white 97%,rgb(241, 241, 241) 100%);
        padding: 0px 30px;
        z-index: 10;

    }
    
    
}



/* 左欄LOGO */

div aside.sidenav a.left_cat_log img{
    width: 84px;

}

@media (max-width: 900px){
    div aside.sidenav a.left_cat_log img{
        width: 70px;
    
    }
}




/* 左欄menu */




div aside.sidenav a.left_menu_log{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    
}

a.left_menu_log label{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}


a.left_menu_log label:hover{
    cursor: pointer;
}

div aside.sidenav a.left_menu_log div.left_menu_icon{
    height: 23px;
    width: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

div aside.sidenav a.left_menu_log div.left_menu_icon span{
    background-color: #FAA19D;
    height: 3px;
    width: 100%;
    transition: 0.5s;
}

div aside.sidenav a.left_menu_log div.left_menu_icon span:nth-child(3){
    width: 18px;
}

div aside.sidenav a.left_menu_log p.menu_text{
    margin: 6px 0 0 0;
    font-weight: bold;
    color: #FAA19D;
    transition: 0.5s;
    
}



/* 隱藏close */

div aside.sidenav a.left_menu_log_close{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    /* border: 1px solid blue; */
    
}

a.left_menu_log_close label{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}


a.left_menu_log_close label:hover{
    cursor: pointer;
}

div aside.sidenav a.left_menu_log_close div.left_menu_icon{
    height: 23px;
    width: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

div aside.sidenav a.left_menu_log_close div.left_menu_icon span:nth-child(1){
    background-color: #FAA19D;
    height: 3px;
    width: 100%;
    transform: rotate(-45deg);
    margin-top:13px;
    transition: 0.5s;
}
div aside.sidenav a.left_menu_log_close div.left_menu_icon span:nth-child(2){
    background-color: #FAA19D;
    height: 3px;
    width: 100%;
    transform: rotate(45deg);
    margin-bottom:6px;
    transition: 0.5s;
}
div aside.sidenav a.left_menu_log_close div.left_menu_icon span:nth-child(3){
    opacity: 0;
    
}

div aside.sidenav a.left_menu_log_close p.menu_text{
    margin: 6px 0 0 0;
    font-weight: bold;
    color: #FAA19D;
    transition: 0.5s;
    
}


/* 左欄下排 */

div aside.sidenav ul.social_icon{
    list-style: none;
    display: flex;
    padding: 0;
    
}

div aside.sidenav ul.social_icon li{
    padding: 3px;


}

div aside.sidenav ul.social_icon li a img{
    width: 30px;

}

@media (max-width: 900px){
    div aside.sidenav ul.social_icon{
        display: none;
        
    }
}


/* 隱藏欄區 */
#putmenugod{
    display: none;
}

#putmenugod:checked ~ section{
    /* display: block; */
    opacity: 1;
    transform: translate(0);
    transition: 0.5s;
    
}

#putmenugod:checked + aside.sidenav a.left_menu_log{
    opacity: 1;
    transition: 0.5s;
}





.showthepage{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

section{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    opacity: 0;
    /* display: none; */
    transform: translate(-100%);
    transition: 0.5s;
    /* border: 2px solid red; */
}

@media (max-width: 900px){
    section{
        transform: translatey(-100%);
    }
}

.nav_inner{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.95);
    /* border: 2px solid blue; */
      
}

@media (max-width: 900px){
    .nav_inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        height: calc(100% - 85px)
    }
}




.nav_inner .a_head{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    padding: 6px 8px;
    margin: 0 0 55px 0;
    /* border: 1px solid black; */
    
}

.nav_inner ul{
    margin-bottom:30px;
}


.nav_inner .a_head:hover{
    background-color: #FAA19D;
    color: white;
}

.nav_inner .a_body li{
    font-size: 18px;
    letter-spacing: 0.6px;
    color: black;
    font-weight: normal;
    margin: 20px 0 5px 100px;
    width: 120px;
    padding: 6px 8px;
    
}

.nav_inner .a_body li:hover{
    background-color: #FAA19D;
    color: white;

}

.nav_inner .nav_left{
    display:flex ;
    flex-direction: column;
    
    padding: 10% 8% 10% 20%;
    flex-grow: 1 ;
    position: relative;
    
}

.nav_left label.menu_close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}


.nav_left label.menu_close:hover{
    cursor: pointer;
    background-color: #FAA19D;
    color: white;
}


@media (max-width: 900px){
    .nav_left label.menu_close{
        display: none;
    }

}

.nav_inner .nav_rightbg{
    display:flex ;
    flex-direction: column;
    background-image: url("../images/background/灰底BG.jpg");
    /* border: 1px solid red; */
    flex-basis: 600px;
    justify-content:flex-start;
    /* flex: 1 1 500px; */

}





.nav_inner .nav_right{
    display:flex ;
    flex-direction: column;
    background-image: url("../images/background/灰底BG.jpg");
    flex-basis: 600px;
    justify-content:flex-start;
    /* flex: 1 1 500px; */
    min-width: 450px;

}


@media (max-width: 900px){
    .nav_inner .nav_rightbg{
        display: block;
        width: 100%;
    }
    .nav_inner .nav_right{
        width: 100%;
        min-width: 0px;
        /* flex: 0 1 auto; */
    }
}

.nav_h2{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #216278;
    padding-left: 50px;
}

.nav_right_block{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10%;
    justify-content: space-between;
    margin: 10% 0 0 0;

}

@media (max-width: 900px){
    .nav_right_block{
        margin: 0 auto;
        /* padding: 0 0 20px 0; */
    }
}

.nav_right_block p{
    font-size: 12px;
    color: #616161;
    line-height: 15px;
    letter-spacing: 0.3px;
    /* text-align: ; */
    margin: 20px 0 0 0;
    
}



.nav_right_block button{
    background-color: white;
    color: #FAA19D;
    width: 80px;
    height: 40px;
    font-size: 13px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    border: none;
    margin-left: 86px;
    margin-top: 20px;
}

.nav_right_block button a{
    color: #FAA19D;
}

.nav_right_block button:hover{
    background-color: #FAA19D;
    color: white;

}

.nav_right_block button:hover a{
    color: white;
}

.nav_h2_2{
    padding-left: 90px;
}




.nav_img{
    height: 140px;
    width: 240px;
    overflow: hidden;
}

.nav_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

@media (max-width: 900px){
    .nav_img{
    height: 140px;
    max-width: 240px;
    overflow: hidden;
}
}

