/* 最新消息欄 */

div.cat_index main div.information{
    /* border: 1px solid red; */
    max-width: 1060px;
    margin: 90px auto ;
}

div.cat_index main div.information div.information_head{
     /* border: 1px solid red;     */
     color: #216278;
     font-weight: bolder;
     font-size: 28px;
     margin-bottom: 60px;
     margin-left: 30px;
     
}

div.swiper-horizontal>.swiper-scrollbar{
     height: 2px;
}


.information_swiper{
     max-width: 1060px;
     /* height: 300px; */
}

.information_swiper-slide:hover{
     cursor: pointer;
}

.information_swiper-slide a{
     color: black;
}

.information_swiper-slide span{
     font-size: 14px;
}

.information_swiper-slidee p{
     font-size: 15px;
}

.information_swiper-slide p:nth-child(3){
     font-size: 14px;
     color: #8d8c8c;

}


@media (max-width: 1200px){
     div.cat_index main div.information{
          padding: 0 20px ;
     }
}