/* 克漏字footer */

footer.footer{
    background-color: #FAA19D;
}

footer .footer_f{
    /* border:1px solid red; */
    max-width: 1140px;
    padding: 35px 35px 0 35px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

@media (max-width: 767.98px){
    footer .footer_f{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer.footer ul{
    margin: 0 ;
    font-size: 0;
}

footer.footer a{
    display: inline-block;
    background-color: #C4C4C4;
    padding: 3px;
    color: white;
    font-size: 13px;
    width: 100px;
    margin: 0 10px 10px 0;
    text-align: center;

}

footer.footer a:hover{
    background-color: #ffffff;
    color:#C4C4C4;
}




footer div.footer_cat_cash{
    /* border:1px solid red; */
    width: 33.333%;
    background-color: #216278;
    position: relative;
    
}

@media (max-width: 767.98px){
    footer div.footer_cat_cash{
        width: 260px;
    }
}

footer div.footer_cat_cash::before{
    background-image: url("../images/background/catwantcash.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 60px;
    position: absolute;
    bottom: 10px;
    left:-60px;
    content: "";
}

footer div.footer_cat_cash h4{
    font-size: 15px;
    color: white;
    padding: 0 10%;
    font-weight: normal;
}

footer div.footer_cat_cash p{
    font-size: 13px;
    color: 13px;
    padding: 0 10%;
    color: white;
    margin-bottom: 0;
    
}

footer div.footer_cat_cash button{
    background-color: white;
    color: #FAA19D;
    text-align: center;
    width: 80px;
    height: 40px;
    font-size: 13px;
    border-radius: 5px;
    margin: 10px 38%;
    position: relative;
    cursor: pointer;
}

footer div.footer_cat_cash button:hover{
    background-color: #FAA19D ;
    color: white;
}

footer div.footer_cat_cash button::after{
    content: "";
    background-image: url("../images/background/footer貓杯@2x.png");
    width: 44px;
    height: 31px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    right: -57px;
    bottom: 5px;
}

.footer_tibame{
    font-size: 13px;
    /* text-align: center; */
    max-width:  1140px;
    margin: 0 auto;
    padding: 0 15%;
}


