/* 關於 since 2020區 */

div.cat_index main div.nekoffee_since_2020{
    /* border: 1px solid red; */
    display: flex;
    max-width: 1140px;
    margin: 174px auto 0;
    font-size: 0;
}

@media (max-width: 767.98px){
    div.cat_index main div.nekoffee_since_2020{
       display: flex;
       flex-direction: column;
    }
}

/* 左貓圖 */

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_img{
    flex: none;
    width: 400px;
    margin-top: 41px;
    position: relative;
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_img::before{
    background-image: url("../images/background/灰底BG.jpg");
    content: "";
    position: absolute;
    width: 305px;
    height: 290px;
    z-index: -1;
    left: -27px;
    top:-28px;
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_img::after{
    content: "";
    background-image: url("../images/background/灰點.png");
    position: absolute;
    width: 380px;
    height: 333px;
    z-index: -1;
    right: -40px;
    top: 166px;
    background-size: 12px;
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_img img{
    max-width: 100%;
}

@media (max-width: 767.98px){
    div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_img{
        display: block;
        margin: auto;
        max-width: 100%;
    }
    
}



/* 右邊區塊 */

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text{
    /* width: 800px; */
    margin: 50px 0 0 100px;
    
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text span{

    font-size: 24px;
    font-weight: bolder;
    color: #216278;
    letter-spacing: 2px;
    line-height: 28px;

}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text p{
    margin: 45px 0 40px 0 ;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
    
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text a.nekoffee_since_2020_button{
    font-size: 14px;
    font-weight: bold;
    margin-left: 60%;
    color: black;
    position: relative;
    display: inline-block;
    padding: 6px 10px;
    
}

a.nekoffee_since_2020_button:hover{
    animation: cat_rotate_left;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}



div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text a.nekoffee_since_2020_button::before{
    content: "";
    background-image: url("../images/background/灰底BG.jpg");
    height: 14px;
    width: 150px;
    position: absolute;
    left: -11px;
    bottom: 0px;
    z-index: -1;
    transform: skew(-60deg, -2deg);

}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text a.nekoffee_since_2020_button img{
    margin:0 0 3px 8px;

}
@media (max-width: 1200px){
    div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text p{
        padding-right: 20px ;
    }
}

@media (max-width: 767.98px){
    div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text{
        margin: 50px auto 0;
        text-align: center;
    }

}






/* 如果您想歡迎一隻貓 */

div.cat_index main h2.if_wanttocatfamily{
    font-size: 24px;
    color: #216278;
    max-width: 1140px;
    margin: 120px auto ;
    text-align: center;
    letter-spacing: 2px;

}



/* 如果一隻貓下區 */

div.cat_index main div.nekoffee_since_2020_2{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text p{
    margin: 70px 100px 50px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1px;
    width: 85%;


}

@media (max-width: 1200px){
    div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text p{
        padding-left: 20px;
    }
}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text a.nekoffee_since_2020_2_button{
    font-size: 14px;
    font-weight: bold;
    color: black;
    position: relative;
    margin-left: 50px;
    margin-top: 10px;
    display: inline-block;
}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text a.nekoffee_since_2020_2_button img{
    margin: 0 0 3px 14px;

}

a.nekoffee_since_2020_2_button:hover{
    animation:cat_rotate_left;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text a.nekoffee_since_2020_2_button::before{
    content: "";
    background-image: url("../images/background/灰底BG.jpg");
    height: 14px;
    width: 180px;
    bottom: -6px;
    left: -30px;
    z-index: -1;
    position: absolute;
    transform: skew(-60deg, -2deg);
}


div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_img {
    /* width: 450px; */
    
    position: relative;
    
}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_img img{
    width: 450px;

}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_img::after{
    background-image: url("../images/background/灰點.png");
    height: 330px;
    width: 380px;
    position: absolute;
    right: -38px;
    top: 43px;
    content: "";
    background-size: 12px;
    z-index: -1;
}


@media (max-width: 767.98px){
    div.cat_index main div.nekoffee_since_2020_2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text{
        margin-top:40px;
    }
    div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text p{
        margin: auto;
    }



    div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_img img{
        max-width: 100%;
    
    }

}





/* 領養貓咪區 */

div.cat_index main h2.index_gochat_cat{
    margin: 120px auto 0;
    width: 1140px;
    color: #216278;
    position: relative;
    /* text-align: center; */
}

div.cat_index main h2.index_gochat_cat::before{
    content: "";
    background-image: url("../images/background/領養貓咪貝茲.png");
    background-repeat: no-repeat;
    height: 15px;
    width: 200px;
    bottom: -15px;
    position: absolute;
}


/* 領養貓咪設定區 swiper*/

.gochat_cat_swiper_ouside{
    position: relative;
    background-image: url("../images/background/灰底BG.jpg");
    background-size: 100% 40% ;
    background-repeat: repeat-x;
    background-position: right 0 top 40px ;
    margin-top: 50px;
    z-index: 0;

}

.gochat_cat_swiper_ouside::after{
    position: absolute;
    background-image: url("../images/background/走路.png");
    height: 300px;
    width: 350px;
    content: "";
    right: 0%;
    top: -150px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

}

.leftrghit{
    position: relative;
    max-width: 900px;
    margin: auto;
}

.gochat_cat_swiper_ouside label{
    font-size: 60px;
    position: absolute;
    /* font-weight: bold; */
    color: rgb(73, 113, 126);
}

.gochat_cat_swiper_ouside label:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.gochat_cat_swiper_ouside label.gochat_cat_swiper_btnprev{
    top: 50px;
    left: -60px;
}

.gochat_cat_swiper_ouside label.gochat_cat_swiper_btnnext{
    right: -60px;
    top: 50px;
}

.gochat_cat_swiper{
    max-width: 900px;
}

.happy_cat_single_img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.happy_cat_single_img img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
}

.happy_cat_single_text{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.gochat_cat_swiper a{
    color: black;
    display: inline-block;
    transition: 0.5s;
}

.gochat_cat_swiper a:hover{
    display: inline-block;
    transition: 0.5s;
    transform: rotate(10deg);
}

@media (max-width: 1000px){
    .gochat_cat_swiper_ouside label.gochat_cat_swiper_btnprev{
        top: 50px;
        left: 0px;
        z-index: 8;
        /* background-color: rgba(255, 255, 255,0.5) ; */
        border-radius: 20px;
    }
    
    .gochat_cat_swiper_ouside label.gochat_cat_swiper_btnnext{
        right: 0px;
        top: 50px;
        z-index: 8;
        /* background-color: rgba(255, 255, 255,0.5) ; */
        border-radius: 20px;
    }
    .gochat_cat_swiper_ouside label{
        font-size: 60px;
        position: absolute;
    }
}

@media (max-width: 767.98px){
    .gochat_cat_swiper_ouside::after{
        display: none;
    }
}






/* 領養貓咪設定區 暫不使用 看上面的swiper*/


div.cat_index main div.happy_cat{
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
}

div.cat_index main div.happy_cat::before{
    position: absolute;
    background-image: url("../images/background/灰底BG.jpg");
    height: 110px;
    width: 200%;
    content: "";
    z-index: -2;
    left: -500px;
    top: 80px;
}

div.cat_index main div.happy_cat::after{
    position: absolute;
    background-image: url("../images/background/走路.png");
    height: 300px;
    width: 350px;
    content: "";
    right: -20%;
    top: -150px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;


}

div.cat_index main div.happy_cat a{
    color: black;
}



/* 左右箭頭 不使用*/

div.cat_index main div.happy_cat a.happy_cat_single_left{
    position: absolute;
    content: "";
    left: 20px;
    top:120px;
    display:inline-block;
    height: 20px;

}

div.cat_index main div.happy_cat a.happy_cat_single_left img{
    width: 100%;
    height: 100%;
}

div.cat_index main div.happy_cat a.happy_cat_single_right{
    position: absolute;
    content: "";
    right: 20px;
    top:120px;
    z-index: 2;
    display: inline-block;
    height: 20px;
    
}

div.cat_index main div.happy_cat a.happy_cat_single_right img{
    width: 100%;
    height: 100%;
}




div.cat_index main div.happy_cat div.happy_cat_all{
    /* border: 1px solid red; */
    width: 850px;
    margin: 0 auto ;
    display: flex;
    z-index: 2;
    
}

div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single{
    /* border: 1px solid red; */
    width: 180px;
    margin: 40px 30px 0 0;
    position: relative;
    transition: 0.5s;
}

div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single:hover{
    animation: cat_rotate_right;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}



/* 貓咪認養圖 不使用*/

div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single div.happy_cat_single_img{
    width:180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
}

div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single div.happy_cat_single_img img{
    width: 100%;
    height: 100%;
}


div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single ul.happy_cat_single_text{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 20px;
    font-size: 15px;
    margin: 0 auto;
    justify-content: center;
}



/* MEOW */

div.cat_index main div.index_cat_hand{
    /* border: 1px solid red; */
    margin: 0 auto;
    max-width: 1140px;
}


div.cat_index main div.index_cat_hand h2{
    text-align: center;
    color: #216278;
    margin: 250px 0 0 0;
    position: relative;
    
}

div.cat_index main div.index_cat_hand h2 span::before{
    content: "";
    background: url("../images/background/無文字LOGO@2x.png");
    height: 120px;
    width: 170px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    /* left: 415px; */
    top: -95px;   
    transform: translatex(-177px);

}

div.cat_index main div.index_cat_hand h2 span::after{
    content: "";
    background: url("../images/background/貓手.png");
    height: 175px;
    width: 110px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    /* left: 580px; */
    top: -150px;

}


/* 貓咪grid區 */


div.cat_index main div.grid{
    max-width: 1140px;
    margin: 20px auto 0;
    /* border: 1px solid red; */

}


div.cat_index main div.grid_cat_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 140px 140px 140px;
    gap:30px;
    /* border: 1px solid black; */

}

div.cat_index main div.grid_cat_container a.grid_cat_items{
    position: relative;
    border-radius: 5px;
    /* border: 1px solid red; */
    overflow: hidden;
    transition: 0.5s;
}

div.cat_index main div.grid_cat_container a.grid_cat_items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.cat_index main div.grid_cat_container a.-item1{
    grid-area: 1 / 1 / 3 / 3;
}

div.cat_index main div.grid_cat_container a.-item9{
    grid-area: 2 / 4 / 4 / 6;
}


@media (max-width: 767.98px){
    div.cat_index main div.grid_cat_container{
        display: grid;
        grid-template-columns: auto auto auto  ;
        grid-template-rows: 140px 140px 140px ;
        gap:20px;    
    }
    div.cat_index main div.grid_cat_container a.-item1{
        grid-area: auto;
    }
    
    div.cat_index main div.grid_cat_container a.-item9{
        grid-area: auto;
    }
}

@media (max-width: 413.98px){
    div.cat_index main div.grid_cat_container{
        display: grid;
        grid-template-columns: auto auto   ;
        grid-template-rows: 140px 140px 140px 140px 140px;
        gap:10px;    
    }
}



/* 字區 */

div.cat_index main div.grid_cat_container a p{
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    padding: 5px 15%;
    background-color: rgba(196, 196, 196, 0.6);
    opacity: 0;
    transition: 0.5s;
    
}

div.cat_index main div.grid_cat_container a:hover p{
    transform: scale(1.12);
    transition-duration: 0.5s;
    opacity: 1;
}

div.cat_index main div.grid_cat_container a.grid_cat_items:hover {
    transform: scale(1.12);
    transition-duration: 0.5s;
    

}


/* 睡貓 */

div.cat_index main div.footcat{
    background-image: url("../images/background/sleepcat.jpg");
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
    
}






