/* 關於 since 2020區 */

div.cat_index main div.nekoffee_since_2020{
    /* border: 1px solid red; */
    display: flex;
    width: 1000px;
    margin: 174px auto 0;
    font-size: 0;
}

/* 左貓圖 */

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_img{
    flex: none;
    width: 270px;
    margin-top: 41px;
    position: relative;
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_img::before{
    background-image: url("../images/background/灰底BG.jpg");
    content: "";
    position: absolute;
    width: 250px;
    height: 210px;
    z-index: -1;
    left: -45px;
    top:-60px;
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_img::after{
    content: "";
    background-image: url("../images/background/灰點.png");
    position: absolute;
    width: 250px;
    height: 310px;
    z-index: -1;
    right: -40px;
    bottom: -30px;
    background-size: 12px;
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_img img{
    max-width: 100%;
}



/* 右邊區塊 */

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text{
    /* width: 800px; */
    margin: 50px 0 0 100px;
    
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text span{

    font-size: 20px;
    font-weight: bolder;
    color: #216278;
    letter-spacing: 2px;

}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text p{
    margin-top: 50px ;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    width: 85%;
    
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text a.nekoffee_since_2020_button{
    font-size: 14px;
    font-weight: bold;
    margin-left: 380px;
    color: black;
    position: relative;
    display: inline-block;
    
}

a.nekoffee_since_2020_button:hover{
    animation: cat_rotate_left;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text a.nekoffee_since_2020_button::before{
    content: "";
    background-image: url("../images/background/灰底BG.jpg");
    height: 5px;
    width: 110px;
    position: absolute;
    left: -3px;
    bottom: 0px;
    z-index: -1;

}

div.cat_index main div.nekoffee_since_2020 div.nekoffee_since_2020_text a.nekoffee_since_2020_button img{
    margin:0 0 3px 8px;

}

/* 如果您想歡迎一隻貓 */

div.cat_index main h2.if_wanttocatfamily{
    font-size: 20px;
    color: #216278;
    width: 1000px;
    margin: 80px auto ;
    text-align: center;
    letter-spacing: 2px;

}



/* 如果一隻貓下區 */

div.cat_index main div.nekoffee_since_2020_2{
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text p{
    margin: 70px 100px 50px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    width: 85%;


}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text a.nekoffee_since_2020_2_button{
    font-size: 14px;
    font-weight: bold;
    color: black;
    position: relative;
    margin-left: 320px;
    margin-top: 30px;
    display: inline-block;
}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text a.nekoffee_since_2020_2_button img{
    margin: 0 0 3px 14px;

}

a.nekoffee_since_2020_2_button:hover{
    animation:cat_rotate_left;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_text a.nekoffee_since_2020_2_button::before{
    content: "";
    background-image: url("../images/background/灰底BG.jpg");
    height: 5px;
    width: 120px;
    bottom: 0;
    z-index: -1;
    position: absolute;
}






div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_img {
    /* width: 450px; */
    
    position: relative;
    
}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_img img{
    width: 450px;

}

div.cat_index main div.nekoffee_since_2020_2 div.nekoffee_since_2020_2_img::after{
    background-image: url("../images/background/灰點.png");
    height: 330px;
    width: 380px;
    position: absolute;
    right: -38px;
    bottom: -32px;
    content: "";
    background-size: 12px;
    z-index: -1;
}



/* 領養貓咪區 */

div.cat_index main h2.index_gochat_cat{
    margin: 120px auto 0;
    width: 1000px;
    color: #216278;
    position: relative;
    /* text-align: center; */
}

div.cat_index main h2.index_gochat_cat::before{
    content: "";
    background-image: url("../images/background/領養貓咪貝茲.png");
    background-repeat: no-repeat;
    height: 15px;
    width: 200px;
    bottom: -15px;
    position: absolute;
}






/* 領養貓咪設定區 */


div.cat_index main div.happy_cat{
    /* border: 1px solid red; */
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

div.cat_index main div.happy_cat::before{
    position: absolute;
    background-image: url("../images/background/灰底BG.jpg");
    height: 110px;
    width: 200vw;
    content: "";
    z-index: -1;
    left: -500px;
    top: 80px;
}

div.cat_index main div.happy_cat::after{
    position: absolute;
    background-image: url("../images/background/走路.png");
    height: 300px;
    width: 350px;
    content: "";
    right: -20%;
    top: -150px;
    background-size: contain;
    background-repeat: no-repeat;


}

div.cat_index main div.happy_cat a{
    color: black;
}



/* 左右箭頭 */

div.cat_index main div.happy_cat a.happy_cat_single_left{
    position: absolute;
    content: "";
    left: 20px;
    top:120px;
    display:inline-block;
    height: 20px;

}

div.cat_index main div.happy_cat a.happy_cat_single_left img{
    width: 100%;
    height: 100%;
}

div.cat_index main div.happy_cat a.happy_cat_single_right{
    position: absolute;
    content: "";
    right: 20px;
    top:120px;
    z-index: 2;
    display: inline-block;
    height: 20px;
    
}

div.cat_index main div.happy_cat a.happy_cat_single_right img{
    width: 100%;
    height: 100%;
}




div.cat_index main div.happy_cat div.happy_cat_all{
    /* border: 1px solid red; */
    width: 850px;
    margin: 0 auto ;
    display: flex;
    
}

div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single{
    /* border: 1px solid red; */
    width: 180px;
    margin: 40px 30px 0 0;
    position: relative;
}

div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single:hover{
    animation: cat_rotate_right;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}



/* 貓咪認養圖 */

div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single div.happy_cat_single_img{
    width:180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
}

div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single div.happy_cat_single_img img{
    width: 100%;
    height: 100%;
}


div.cat_index main div.happy_cat div.happy_cat_all div.happy_cat_single ul.happy_cat_single_text{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 20px;
    font-size: 15px;
    margin: 0 auto;
    justify-content: center;
}



/* MEOW */

div.cat_index main div.index_cat_hand{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 1000px;
}


div.cat_index main div.index_cat_hand h2{
    text-align: center;
    color: #216278;
    margin: 250px 0 0 0;
    position: relative;
}

div.cat_index main div.index_cat_hand h2::before{
    content: "";
    background: url("../images/background/無文字LOGO@2x.png");
    height: 120px;
    width: 170px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    left: 345px;
    top: -95px;   

}

div.cat_index main div.index_cat_hand h2::after{
    content: "";
    background: url("../images/background/貓手.png");
    height: 175px;
    width: 110px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    left: 510px;
    top: -150px;

}


/* 貓咪grid區 */


div.cat_index main div.grid{
    width: 1000px;
    margin: 20px auto 0;
    /* border: 1px solid red; */

}


div.cat_index main div.grid_cat_container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 140px 140px 140px;
    gap:30px;
    /* border: 1px solid black; */

}

div.cat_index main div.grid_cat_container a.grid_cat_items{
    position: relative;
    border-radius: 5px;
    /* border: 1px solid red; */
    overflow: hidden;
}

div.cat_index main div.grid_cat_container a.grid_cat_items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.cat_index main div.grid_cat_container a.-item1{
    grid-area: 1 / 1 / 3 / 3;
}

div.cat_index main div.grid_cat_container a.-item9{
    grid-area: 2 / 4 / 4 / 6;
}



/* 字區 */

div.cat_index main div.grid_cat_container a p{
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    padding: 5px 15%;
    background-color: rgba(196, 196, 196, 0.6);
    opacity: 0;
    
}

div.cat_index main div.grid_cat_container a:hover p{
    animation: cat_text;
    animation-duration: 1s;
    animation-fill-mode: both;
}

div.cat_index main div.grid_cat_container a.grid_cat_items:hover {
    animation: cat_zoominon;
    animation-duration: 1s;
    animation-fill-mode: both;
}


/* 睡貓 */

div.cat_index main div.footcat{
    background-image: url("../images/background/sleepcat.jpg");
    width: 100vw;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 100px;
    
}






